/**========================================================================
 *                      JANE THEME STYLE SETTINGS
 *========================================================================**/

/**------------------------------------------------------------------------
 *                            Theme Color
 * use picocss theme color, see: https://picocss.com/docs/version-picker .
 * Values: 'red', 'pink', 'fuchsia', 'purple', 'violet', 'indigo', 'blue', 'azure', 'cyan',
 * 'jade', 'green', 'lime', 'yellow', 'amber', 'pumpkin', 'orange', 'sand', 'grey', 'zinc', 'slate'
 *------------------------------------------------------------------------**/
$jane-theme-color: 'jade';

/**------------------------------------------------------------------------
 *                            Article Max Width
 *------------------------------------------------------------------------**/
$article-max-width: 40em;

/**------------------------------------------------------------------------
 *                            Font Settings
 *------------------------------------------------------------------------**/
$logo-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$title-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$global-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

$global-font-size: 16px;
$global-mobile-font-size: 15px;

/**------------------------------------------------------------------------
*                            Other Settings
*------------------------------------------------------------------------**/
$mobile-breakpoint: 768px;
